main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.app-title {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  main {
    padding: 0;
  }
  .app-title {
    flex-direction: row;
  }
}

.app-title  h1 {
  font-size: 2rem;
}

.no-data {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}

p, h1 {
  margin: 0;
  padding: 0;
}

body {
  color: #434343;
}